<div
  #overlayTrigger
  class="col-start-2 col-end-3 ms-[180px] flex h-full min-w-[300px] max-w-[600px] flex-row items-center space-x-2 rounded-lg border bg-secondary py-2 text-primary transition-all duration-300 ease-in-out focus-within:max-w-[700px] focus-within:border focus-within:border-secondary">
  <div class="flex w-[8%] items-center justify-center px-2">
    <app-search-icon [height]="20" [width]="20"></app-search-icon>
  </div>
  <div class="relative ms-4 h-full w-[92%]">
    <input
      type="text"
      (focus)="showOverlay()"
      class="h-full w-full bg-transparent text-primary outline-none"
      placeholder="Search in customers" />
  </div>
</div>
