<app-scrollable-area>
  <div class="sticky top-0 z-50 flex flex-row border bg-app font-bold">
    <div class="flex items-center p-2">
      <input type="checkbox" value="1" />
    </div>
    <ng-container *ngFor="let column  of columns">
      <div
        (click)="changeSort(column)"
        class="flex cursor-pointer flex-row items-center space-x-1 truncate p-2 hover:bg-secondary"
        [ngStyle]="{'width': getColumnWidthClass(column, columns.length)}">
        <div>
          {{ column.label | titlecase }}
        </div>
        <div *ngIf="sortColumn && sortColumn.column == column.sortColumnBy">
          <app-uparrow-icon *ngIf="sortColumn.direction == 'asc'"></app-uparrow-icon>
          <app-downarrow-icon *ngIf="sortColumn.direction == 'desc'"></app-downarrow-icon>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="bg-secondary">
    <ng-container *ngFor="let row of rows">
      <div
        class="hover:shadow-hover group relative flex flex-row border-b transition-shadow hover:cursor-pointer hover:shadow">
        <div class="flex items-center p-2 py-4">
          <input type="checkbox" value="1" />
        </div>
        <ng-container *ngFor="let column of columns">
          <div class="truncate p-2 py-4" [ngStyle]="{'width': getColumnWidthClass(column, columns.length)}">
            {{ column.mapper(row) }}
          </div>
        </ng-container>
        <div
          [ngClass]="{'right-0': dir.value === 'ltr', 'left-0': dir.value === 'rtl'}"
          class="absolute z-10 hidden bg-secondary px-2 py-2 group-hover:flex">
          <app-button [type]="'icon'">
            <app-trash-icon></app-trash-icon>
          </app-button>
        </div>
      </div>
    </ng-container>
  </div>
</app-scrollable-area>
