<app-scrollable-area>
  <div class="sticky top-0 z-50 flex flex-row border bg-app bg-secondary font-bold shadow">
    <!-- <div class="flex items-center px-2 py-1 ">
    </div> -->
    <ng-container *ngFor="let column  of columns">
      <div
        (click)="changeSort(column)"
        class="flex cursor-pointer flex-row items-center space-x-1 truncate px-2 py-1 hover:bg-tertiary"
        [ngStyle]="{'width': getColumnWidthClass(column, columns.length)}">
        <div>
          {{ column.label | titlecase }}
        </div>
        <div *ngIf="sortColumn && sortColumn.column == column.sortColumnBy">
          <app-uparrow-icon *ngIf="sortColumn.direction == 'asc'"></app-uparrow-icon>
          <app-downarrow-icon *ngIf="sortColumn.direction == 'desc'"></app-downarrow-icon>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="border bg-app">
    <ng-container *ngFor="let row of rows">
      <div
        class="hover:shadow-hover group relative flex flex-row border-b transition-shadow hover:cursor-pointer hover:shadow">
        <ng-container *ngFor="let column of columns; let i = index;">
          <div
            class="flex flex-row items-center space-x-2 truncate px-2 py-2"
            [ngClass]="column.tailwindClass ? column.tailwindClass(row) : ''"
            [ngStyle]="{'width': getColumnWidthClass(column, columns.length)}">
            <input
              *ngIf="i === 0"
              type="checkbox"
              [checked]="selectedItems.includes(row.id)"
              (change)="onSelectItem(row.id)" />
            <div class="truncate">
              {{ column.mapper(row) }}
            </div>
          </div>
        </ng-container>
        <div
          [ngClass]="{'right-0': dir.value === 'ltr', 'left-0': dir.value === 'rtl'}"
          class="absolute z-10 mt-[2px] hidden bg-app px-2 group-hover:flex">
          <app-button [type]="'icon'" [title]="'Delete'">
            <app-trash-icon></app-trash-icon>
          </app-button>
        </div>
      </div>
    </ng-container>
  </div>
</app-scrollable-area>
