<div class="mt-4 grid h-full grid-cols-[180px,1fr]">
  <div class="col-start-1 col-end-2 flex h-full flex-col space-y-2">
    <app-button (click)="changePage(2)">
      <div class="flex flex-row items-center space-x-2 px-4 py-2">
        <app-plus-icon></app-plus-icon>
        <div>New</div>
      </div>
    </app-button>
    <app-scrollable-area [scrollBehavior]="'onHover'">
      <app-vertical-tab-bar [tabs]="tabBarItems" [activeRoute]="'/panel/tables'"></app-vertical-tab-bar>
    </app-scrollable-area>
  </div>
  <div class="col-start-2 col-end-[-1] flex flex-col">
    <app-progress-bar [loading]="tableFacade.loading()"></app-progress-bar>
    <div class="flex flex-row items-center justify-between rounded-tl-lg rounded-tr-lg border border-b-0 p-1 px-2">
      <div class="flex flex-row items-center space-x-2">
        <input type="checkbox" [checked]="tableFacade.selection().allSelected" (change)="toggleSelectAll($event)" />

        <ng-container *ngIf="tableFacade.selection().selectedItems.length > 0">
          <app-button [type]="'icon'">
            <app-trash-icon></app-trash-icon>
          </app-button>
        </ng-container>

        <ng-container *ngIf="tableFacade.selection().selectedItems.length == 0">
          <app-button title="Refresh" [type]="'icon'" (click)="tableFacade.loadItems(tableFacade.options())">
            <app-refresh-icon></app-refresh-icon>
          </app-button>
        </ng-container>
      </div>

      <div class="flex flex-row items-center space-x-2">
        <app-pagination
          [pagination]="tableFacade.pagination()"
          (pageChange)="tableFacade.changePage($event)"></app-pagination>
        <div class="border-s px-1">
          <app-dropdown #myOverlay [width]="'200px'" [height]="'300px'">
            <app-button dropdown-trigger title="Table Settings" [type]="'icon'">
              <app-ellipsis-icon></app-ellipsis-icon>
            </app-button>
            <div dropdown-content>
              <div class="flex flex-col items-start space-y-2">
                <div class="w-full border-b p-3">
                  <div class="mb-4 text-xs">Per page</div>
                  <div class="flex flex-row justify-around text-xl">
                    <div
                      (click)="tableFacade.changePageSize(10)"
                      [ngClass]="tableFacade.pagination().pageSize == 10 ? 'font-bold' : 'cursor-pointer'">
                      10
                    </div>
                    <div
                      (click)="tableFacade.changePageSize(20)"
                      [ngClass]="tableFacade.pagination().pageSize == 20 ? 'font-bold' : 'cursor-pointer'">
                      20
                    </div>
                    <div
                      (click)="tableFacade.changePageSize(50)"
                      [ngClass]="tableFacade.pagination().pageSize == 50 ? 'font-bold' : 'cursor-pointer'">
                      50
                    </div>
                  </div>
                </div>
              </div>

              <!-- <app-table-settings [columns]="tableFacade.columns()" (columnsChange)="tableFacade.changeColumns($event)"></app-table-settings> -->
            </div>
          </app-dropdown>
        </div>
      </div>
    </div>
    <app-list
      [rows]="tableFacade.allItems()"
      [columns]="tableFacade.columns()"
      [sortColumn]="(tableFacade.sort())"
      (sortColumnChange)="tableFacade.changeSort($event)"
      (itemSelected)="tableFacade.toggleSelect($event)"
      [selectedItems]="tableFacade.selection().selectedItems"></app-list>
  </div>
</div>
