<div (click)="toggleOverlay($event)">
  <ng-content select="[dropdown-trigger]"></ng-content>
</div>
<div class="dropdown-content truncate rounded-lg border-2 border-primary bg-app p-1 shadow" *ngIf="showOverlay">
  <div class="border-b border-b-primary p-2">
    <ng-content select="[dropdown-content-header]"></ng-content>
  </div>

  <div class="dropdown-content-body p-2" [ngStyle]="{'height.px': height, 'width.px': width}">
    <ng-content select="[dropdown-content-body]"></ng-content>
  </div>
</div>
