<div
  class="dropdown-content ms-[100px] flex h-full min-w-[700px] truncate border-2 border-primary bg-secondary p-1 shadow">
  <div class="border-b border-b-primary p-2">
    <h1>ABC</h1>
  </div>

  <div class="dropdown-content-body p-2">
    <div class="flex flex-col space-y-2">
      <div class="flex flex-row items-center space-x-2">
        <div class="flex flex-col space-y-1">
          <h1 class="text-primary">ABC</h1>
          <h2 class="text-secondary">ABC</h2>
        </div>
      </div>
    </div>
  </div>
</div>
