<app-scrollable-area>
  <div class="sticky top-0 z-50 flex flex-row border bg-secondary font-bold shadow">
    @for (column  of columns; track column ) {
  
      @if (column.visible && column.label != 'id') {
<div
       
        (click)="changeSort(column)"
        class="flex cursor-pointer flex-row items-center space-x-1 truncate px-2 py-1 hover:bg-tertiary"
        [ngStyle]="{'width': getColumnWidthClass(column, columns)}">
        <div>
          {{ column.label | titlecase }}
        </div>
        @if (sortColumn && sortColumn.column == column.sortColumnBy) {
<div>
          @if (sortColumn.direction == 'asc') {
<app-uparrow-icon></app-uparrow-icon>
}
          @if (sortColumn.direction == 'desc') {
<app-downarrow-icon></app-downarrow-icon>
}
        </div>
}
      </div>
}
    
}
  </div>
  <div class="border bg-app">
    @for (row of rows; track row) {
  
      <div
        class="hover:shadow-hover group relative flex flex-row border-b transition-shadow hover:cursor-pointer hover:shadow">
        @for (column of columns; track column; let i = $index) {
  
          @if (column.visible && column.label != 'id') {
<div
           
            class="flex flex-row items-center space-x-2 px-2 py-2"
            [ngClass]="(selectedItems.includes(row.id) ? 'bg-tertiary ' : '') + (column.tailwindClass ? column.tailwindClass(row) : '')"
            [ngStyle]="{'width': getColumnWidthClass(column, columns)}">
            @if (i === 1) {
<div class="flex flex-row items-center">
              <input type="checkbox" [checked]="selectedItems.includes(row.id)" (change)="onSelectItem(row.id)" />
            </div>
}
            <div class="truncate">
              {{ column.mapper(row) }}
            </div>
          </div>
}
        
}
        <div
          [ngClass]="{'right-0': dir.value === 'ltr', 'left-0': dir.value === 'rtl'}"
          class="absolute z-10 hidden border bg-app px-2 shadow group-hover:flex">
          <app-button [type]="'icon'" [title]="'Delete'">
            <app-trash-icon></app-trash-icon>
          </app-button>
        </div>
      </div>
    
}
  </div>
</app-scrollable-area>
