.drawer-container {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    overflow: hidden;
    transition: transform 100ms;

    &.start {
        left: 0;
        transform: translateX(-100%);
    }

    &.end {
        right: 0;
        transform: translateX(100%);
    }

    &.open.start {
        transform: translateX(0%);
    }

    &.open.end {
        transform: translateX(0%);
    }
}
@keyframes fadeIn {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    z-index: 999;

    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}