<div class="grid h-screen grid-cols-[1fr,1200px,1fr] grid-rows-[55px,calc(100vh-55px)] space-y-2">
  <div
    class="sticky top-0 z-50 col-start-1 col-end-[-1] row-start-1 row-end-2 grid grid-cols-[1fr,1200px,1fr] items-center border py-2 backdrop-blur-2xl">
    <div class="col-start-1 col-end-2 mx-2 flex flex-row items-center space-x-2 rtl:space-x-reverse">
      <div class="cursor-pointer" (click)="onToggleSidebar()">
        <app-sidebar-icon></app-sidebar-icon>
      </div>
      <app-text-title>{{ this.activeRoute | titlecase }}</app-text-title>
    </div>
    <app-search></app-search>
  </div>

  <div class="col-start-2 col-end-3 row-start-2 row-end-3">
    <router-outlet></router-outlet>
  </div>
</div>

<app-drawer [position]="'start'" [isOpen]="toggleSidebar" (drawerClosed)="toggleSidebar = false">
  <app-sidebar (close)="toggleSidebar = false"></app-sidebar>
</app-drawer>
