<div class="h-screen overflow-hidden border-b border-[#efefea] py-5">
  <div class="flex flex-row items-center justify-between px-4">
    <div class="flex flex-row">
      <span class="svg-icon svg-icon-2x me-2">
        <svg fill="none" height="24" viewBox="0 0 24 24" width="24">
          <rect fill="currentColor" height="9" rx="2" width="9" x="2" y="2" />
          <rect fill="currentColor" height="9" opacity="0.3" rx="2" width="9" x="13" y="2" />
          <rect fill="currentColor" height="9" opacity="0.3" rx="2" width="9" x="13" y="13" />
          <rect fill="currentColor" height="9" opacity="0.3" rx="2" width="9" x="2" y="13" />
        </svg>
      </span>
    </div>
    <div (click)="onClose()" class="" id="sidebar-button">
      <button class="p-1 hover:bg-secondary">
        <!-- <app-close-icon></app-close-icon> -->
      </button>
    </div>
  </div>
</div>
